UserSettings/EditorUserSettings.asset
UserSettings/
Temp/
Logs/
Library/
QT_Proto.sln
Assembly-CSharp.csproj
.vsconfig
QTProto.sln
Assembly-CSharp-firstpass.csproj
obj/
.vs/
Assembly-CSharp-Editor.csproj
*.DS_Store