UserSettings/EditorUserSettings.asset
UserSettings/
Temp/
Logs/
Library/
QT_Proto.sln
Assembly-CSharp.csproj
.vsconfig
QTProto.sln
Assembly-CSharp-firstpass.csproj
obj/
.vs/
Assembly-CSharp-Editor.csproj
*.DS_Store
FMODUnity.csproj
FMODUnityEditor.csproj
FMODUnityResonance.csproj
FMODUnityResonanceEditor.csproj
ProjectSettings/ShaderGraphSettings.asset
DataManagerEditor.csproj
AmplifyShaderEditor.csproj
debug.log