UserSettings/EditorUserSettings.asset
UserSettings/
Temp/
Logs/
Library/
QT_Proto.sln
Assembly-CSharp.csproj
.vsconfig
QTProto.sln
Assembly-CSharp-firstpass.csproj
obj/
.vs/
Assembly-CSharp-Editor.csproj
*.DS_Store
FMODUnity.csproj
FMODUnityEditor.csproj
FMODUnityResonance.csproj
FMODUnityResonanceEditor.csproj
ProjectSettings/ShaderGraphSettings.asset
DataManagerEditor.csproj
AmplifyShaderEditor.csproj
debug.log
Assembly-CSharp.csproj.AssemblyReference.cache
Assembly-CSharp-Editor.csproj.AssemblyReference.cache
spine-csharp.csproj
spine-unity.csproj
spine-unity-editor.csproj
spine-unity-examples.csproj
spine-unity-examples-editor.csproj
Assets/AmplifyShaderEditor
QTProject.sln
.idea/
fmod_editor.log
Assembly-CSharp-Editor-firstpass.csproj
IngameDebugConsole.Editor.csproj
IngameDebugConsole.Runtime.csproj
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
